{# @var craft \craft\web\twig\variables\CraftVariable #}
{% do view.registerAssetBundle("floriskoch\\craftpatlib\\resources\\PatlibBundle") %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <title>Craft Pattern Library</title>
</head>
<body class="sans-serif">

<main class="bg-black-05 pa2 flex vh-100">
    <div id="root"></div>
</main>

<% if(htmlWebpackPlugin.options.environment === 'production') { %>
    <script src="{{ view.getAssetManager().getPublishedUrl('@floriskoch/craftpatlib/resources/dist') }}/main.js"></script>
<% } else { %>
    <% if (htmlWebpackPlugin.options.devServer) { %>
        <script src="<%= htmlWebpackPlugin.options.devServer%>src/resources/dist/main.js"></script>
    <% } %>
<% } %>

</body>
</html>
